

<h2 class="friends">Friends of Enspiral</h2>

<div class="users">
  <div class="get-index">
    <form action="/user" method="post">
      <input name="userID" value="">
      <button> Get User Profile by ID</button>
    </form>
  </div>

  <table align="center">
    <tr>
      <th>
        ID number
      </th>
      <th>
        First Name
      </th>
      <th>
        Last Name
      </th>
      <th>
        Username
      </th>
    </tr>

    {{#each users}}
      <tr>
        <td>{{id}}</td>
        <td>{{firstName}}</td>
        <td>{{lastName}}</td>
        <td>{{username}}</td>
        <td>
          <!-- {{like}} -->
        </td>
      </tr>
    {{/each}}
  </table>

  <div class="create-index">
    <a href="/create"><button>Create User</button></a>
  </div>

</div>
